.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .filters > * {
    flex: 0 0 100%;
    margin-bottom: 10px;
  }
  
  .label {
    margin-right: 5px;
  }
  
  .select,
  .input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
  }
  
  .select option {
    font-size: 14px;
    background-color: #fff;
    color: #333;
  }
  
  .button {
    width: 100%;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 14px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border: none;
    margin: 0 auto;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  @media screen and (min-width: 768px) {
    .filters > * {
      flex: 0 0 calc(25% - 10px); /* Três itens por linha para telas maiores */
    }
  }
  