.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.filters > * {
  flex: 0 0 100%;
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.save-to-feed,
.button {
  margin-right: 10px;
}

.label {
  margin-left: 10px;
}

.select,
.input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.select option {
  font-size: 14px;
  background-color: #fff;
  color: #333;
}

.button {
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 14px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border: none;
}

.button:hover {
  background-color: #0056b3;
}

@media screen and (min-width: 768px) {
  .filters > * {
    flex: 0 0 calc(25% - 10px);
  }
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
}

.checkbox-icon {
  margin-right: 5px;
}
